<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer class="footer">
    <img class="footer__logo" src="/src/img/logo.png" alt="Logotipo de VisitaMadrid">
    <nav class="footer__navbar" id="navbar" aria-label="Menú principal">
      <ul class="navbar__list">
        <li class="navbar__item"><a class="navbar__link" href="/src/presentacion.html">Presentación</a></li>
        <li class="navbar__item"><a class="navbar__link" href="/src/categoria.html">Categorias</a></li>
        <li class="navbar__item"><a class="navbar__link" href="/src/enlaces.html">Enlaces</a></li>
      </ul>
    </nav>
    <div class="footer__social-media">
      <p>Siguenos en</p>
      <ul class="social-media__list">
        <li class="social-media__item"><a class="social-media__link" href="http://www.facebook.es" target="_blank" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a></li>
        <li class="social-media__item"><a class="social-media__link" href="http://www.instagram.com" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
        <li class="social-media__item"><a class="social-media__link" href="http://www.x.com" target="_blank" aria-label="X"><i class="fa-brands fa-x-twitter"></i></a></li>
      </ul>
    </div>
  </footer>
</body>
</html>