<header class="header">
  <div class="header__container">
    <button class="btn-menu" id="btn-menu" aria-label="Abrir menú de navegación" aria-expanded="false">
      <i class="fa-solid fa-bars"></i>
    </button>
    <img class="logo" src="/src/img/logo.png" alt="Logotipo de VisitaMadrid">
    <h1 class="header__title">
      <a class="title__link" href="/src/index.html">
        VisitaMadrid
      </a>
    </h1>
  </div>
  <nav class="navbar" id="navbar" aria-label="Menú principal">
    <ul class="navbar__list">
      <li class="navbar__item"><a class="navbar__link" href="/src/presentacion.html">Presentación</a></li>
      <li class="navbar__item"><a class="navbar__link" href="/src/categoria.html">Categorías</a></li>
      <li class="navbar__item"><a class="navbar__link" href="/src/enlaces.html">Enlaces</a></li>
    </ul>
  </nav>
</header>
