<div class="svg__container">
  <svg 
    class="svg__slogan" 
    viewBox="0 0 300 100" 
    preserveAspectRatio="xMidYMid meet" 
    xmlns="http://www.w3.org/2000/svg">

    <circle class="sun" cx="0" cy="40" r="15" fill="yellow" />
  
    <text text-anchor="middle" x="50%" y="50%" class="text-group">
      <tspan class="word">Bienvenidos</tspan>
      <tspan class="word">a</tspan>
      <tspan class="word">Visita</tspan>
      <tspan class="word">Madrid</tspan>
    </text>
  
    <g class="buildings">
      <rect class="building" x="25" y="80" width="15" height="20" />
      <rect class="building" x="50" y="95" width="15" height="35" />
      <rect class="building" x="75" y="75" width="15" height="45" />
      <rect class="building" x="100" y="80" width="20" height="40" />
      <rect class="building" x="125" y="90" width="15" height="50" />
      <rect class="building" x="150" y="70" width="15" height="30" />
      <rect class="building" x="175" y="90" width="20" height="50" />
      <rect class="building" x="200" y="70" width="20" height="40" />
      <rect class="building" x="225" y="75" width="15" height="65" />
      <rect class="building" x="250" y="65" width="20" height="45" />
      <rect class="building" x="275" y="90" width="20" height="50" />
    </g>
  </svg>
  
</div>